body {
    display: flex;
    flex-direction: column; 
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1f2937;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px 150px 80px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-self: center;
}

a {
    text-decoration: none;
}

a,
#about p {
    font-size: 18px;
    color: #e5e7eb;
}

#about {
    display: flex;
    gap: 100px;
}

.top-photo {
    width: 400px;
    height: auto;
}

#about .left {
    align-self: center;
    flex: 1;
}

#about h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
}
.photos-and-description {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#ideas h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.food p {
    margin: 8px;
    font-size: 16px;
}

.photos-and-description img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border: 3px solid #1f2937;
}

.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

#ideas {
    text-align: center;
    padding-bottom: 50px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    width: 100%;
    align-items: center;
    padding: 80px 0px;
    gap: 10px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    width: 500px;
}

.name {
    font-size: 18px;
    color: #1f2937;
    font-weight: 800;
    font-style: normal;
    width: 500px;
    text-align: end;
}

.quote-section p {
    margin: 0;
}

#sign-up {
    display: flex;
    align-self: center;
    background-color: #3882f6;
    gap: 100px;
    padding: 40px 100px;
    margin: 80px 0px;
    border-radius: 10px;
}

.sign-up-caption h3 {
    font-size: 18px;
    color: #f9faf8;
    font-weight: 800;
    margin: 0;
}

.sign-up-caption p {
    font-size: 16px;
    color: #f9faf8;
    margin: 0;
}

#sign-up button {
    border: 3px solid #f9faf8;
    align-self: center;
}






