body {
    display: flex;
    flex-direction: column; 
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-self: center;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

#about {
    display: flex;
    gap: 50px;
}

.top-photo {
    width: 400px;
    height: auto;
}

.content {
    display: flex;
}

.content img {
    width: 200px;
    height: 200px;
}

.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

#ideas {
    text-align: center;
}

.top {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: auto;
    align-self: center;
    gap: 10px;
}

#about .left {
    align-self: center;
    flex: 1;
}